# This is a basic workflow to help you get started with Actions

name: CI-CD

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  CI:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Autenticando o usuario no Docker
        uses: docker/login-action@v2.0.0
        with:
          username: ${{secrets.DOCKERHUB_USER}}
          password: ${{secrets.DOCKERHUB_PWD}}
          
      - name: Construindo a imagem e enviando para o Docker Hub
        uses: docker/build-push-action@v3.0.0
        with:
          file: ./src/Dockerfile
          context: ./src
          push: true
          tags: |
            andreluiskg/kube-news:${{github.run_number}}
            andreluiskg/kube-news:latest
          
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - uses: actions/checkout@v3
      
      - name: Definindo o kube config
        uses: Azure/k8s-set-context@v2
        with:
          method: kubeconfig
          # conteudo do arquivo gerado pelo Terraform
          kubeconfig: ${{secrets.K8S_CONFIG}}
          
      - name: Efetuando o deploy no kubernetes
        uses: Azure/k8s-deploy@v3.1
        with:
          images: andreluiskg/kube-news:${{github.run_number}}
          manifests: |
            k8s/deployment.yaml

